
<div class="container-fluid" style="width:100%">
  <div class="row" style="background-color:#E5E8E8;">
      <div class="col-xs-12"> 
            <h1 style="display:inline-block">
            <a style="text-decoration:none" 
              href="<%= category_path(Category.where("name=?", @run.category).first) %>">Back to list</a></h1>
     </div>

  </div>
  <div class="row" style="padding:30px 0">
    <div class="col-xs-12 col-lg-2">
     <h3>Select a benchmark</h3>
        <% hierarchy = get_hierarchy(Run.all)
          current_category = @run.category

           %>
          
          <div class="panel-group" id="accordion">
          <% hierarchy.each_with_index do |(k, v), i| %>             
              <div class="panel panel-default">
                <div style="cursor:pointer;" class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i %>">                  
                    <a style="text-decoration: none;"><div class="panel-title"><%= k  %></div></a>                
                </div>
                <div id="collapse<%= i %>" class="panel-collapse collapse <%= if k == current_category then 'in' else '' end %>">
                  <div class="panel-body">
                    <% v.each do |sub_category, runs| %>
                       <strong><%= sub_category %></strong> 
                       <ul>
                       <% runs.sort_by { |x| x.order } .each do |run| %>
                        <li style="list-style-type:none">                         
                          <a style="color:<%= if run.id == @run.id then 'red' else 'black' end %>" 
                            href="<%= run_path(run) %>"><%= run.title %></a>
                        <% if request.host == admin_url %>
                          <%= link_to '(x)', run_path(run), method: :delete, data: { confirm: 'Delete? ' + run.id.to_s } %>
                          <% end %>
                        </li>
                       <% end %>    
                       </ul>                   
                    <% end %>
                  </div>
              </div> 
              </div>          
          <% end %>
          </div>
          
    </div>
    <div class="col-xs-12 col-lg-2">   

    <% all_tags = { } 
      @run.data["algorithms"].each do |tags|
        temp = tags[1..tags.length]
        temp.each do |tag|
          all_tags[tag] = 1
        end
      end
    %>
    
    <% chart_type = getChartType(@run.category, @run.sub_category, @run.title) %>
    <% if chart_type == "horizontalBar" %>
        <h3>Filter by tags</h3>
      <table class="table">
        <thead>
        <th></th><th>include</th><th>exclude</th>
        </thead>
        <tbody>
          <% all_tags.each do |t, v| %>
          <tr><td><%= t %></td>
          <td><input id="<%= 'include-' + t.gsub(/\s+/, '') %>" onclick="clicked(this); uncheck('<%= 'exclude-' + t.gsub(/\s+/, '') %>');
           save_to_cookie();updateChart();"
            type="checkbox" class="include_tags" value="<%= t %>" </td>
          <td><input id="<%= 'exclude-' + t.gsub(/\s+/, '') %>" onclick="clicked(this); uncheck('<%= 'include-' + t.gsub(/\s+/, '') %>');
            save_to_cookie();updateChart();" 
            type="checkbox" class="exclude_tags" value="<%= t %>"</td></tr>
        <% end %>
        </tbody>
      </table>
    <% end %>



      <%= javascript_tag do %>  
      var chartType = "<%= chart_type %>";
      var algorithms = JSON.parse('<%= @run.data["algorithms"].to_json.html_safe %>'); 
      var results = JSON.parse('<%= @run.data["results"].to_json.html_safe %>');
      var testCases = JSON.parse('<%= @run.data["test_cases"].to_json.html_safe %>');

      var selectedAlgorithms = algorithms.slice();
      var selectedResults = results.slice();

	  var allTags = JSON.parse('<%= all_tags.keys.map { |e| e.gsub(/\s+/, '') } .to_json.html_safe %>');
	var allTagIds = [];
	for (var tag of allTags) {
	  allTagIds.push('include-' + tag);
	  allTagIds.push('exclude-' + tag);
	}
			
      if (getCookie('r')) {
        var colorGetter = getColorGenerator([getCookie('r'), getCookie('g'), getCookie('b'), getCookie('shadePart')]);
        setCookie('r', '', 1);
      } else {
        var colorGetter = getRandomColorGenerator();
      }

	  function clicked(button) {
		if (button.checked) {
			setTagId(button.id);
			//alert('setting ' + button.id);
		} else {
			unsetTagId(button.id);
		}
	  }
	  
      function uncheck(id) {
        document.getElementById(id).checked = false;
        unsetTagId(id);
      }

  
		


      function save_to_cookie() {
		return;
        var include_tag_elems = Array.from(document.getElementsByClassName("include_tags"));
        include_tag_elems = include_tag_elems.filter(e => e.checked)
        var include_tags = include_tag_elems.map(e => e.value);

        var exclude_tag_elems = Array.from(document.getElementsByClassName("exclude_tags"));
        exclude_tag_elems = exclude_tag_elems.filter(e => e.checked)
        var exclude_tags = exclude_tag_elems.map(e => e.value);

          include_tags.map(function(e) { return 'include-' + e.replace(/\s+/g, ''); }).forEach(function(e) { setTagId(e); });
        exclude_tags.map(function(e) { return 'exclude-' + e.replace(/\s+/g, ''); }).forEach(function(e) { setTagId(e); });
      }

	function load_from_cookie() {
		for (let tagId of getActiveTagIds(allTagIds)) {
			document.getElementById(tagId).checked = true;
		}
	}
	
    <% end %>



    </div>
    <div class="col-xs-12 col-lg-8">  
    <div> 
      <canvas id="myChart" width="800" height="500"></canvas>
      <%= javascript_tag do %>  
        Chart.defaults.global.defaultFontSize = 18;
        Chart.defaults.global.defaultFontColor = 'black';
        var myChart = drawChart('myChart', selectedAlgorithms, selectedResults, testCases, 
              "<%= @run.title %>", "<%=@run.data["unit"]%>", colorGetter, 2000, chartType);  

  		function updateChart() {
		        var include_tag_elems = Array.from(document.getElementsByClassName("include_tags"));
				include_tag_elems = include_tag_elems.filter(e => e.checked)
				var include_tags = include_tag_elems.map(e => e.value);

				var exclude_tag_elems = Array.from(document.getElementsByClassName("exclude_tags"));
				exclude_tag_elems = exclude_tag_elems.filter(e => e.checked)
				var exclude_tags = exclude_tag_elems.map(e => e.value);
		
	       var selectedIndex = algorithms.map(function(nameAndTags) {          
			  var tags = nameAndTags.slice(1);
			  var toSelect = include_tags.every(e => tags.includes(e)) && 
							  exclude_tags.every(e => !tags.includes(e));
			  return toSelect;
			});       

			selectedAlgorithms = algorithms.filter(function(v, i) { return selectedIndex[i]; });
			selectedResults = results.filter(function(v, i) { return selectedIndex[i]; });	
		
          myChart.data = getDataOption(selectedAlgorithms, selectedResults, testCases, colorGetter, chartType);
          myChart.update();
        }  
		
		load_from_cookie();
		
		var currentCategory = '<%= @run.category %>';
		  var previousCategory = getCategory();
		  if (currentCategory != previousCategory) {
			setCategory(currentCategory);
		  } 
		updateChart();
   
      <% end %>
      </div>
    </div>
  </div>


  </div>