<% 
    sub_category_to_runs =  get_hierarchy(Run.all)[@category.name]
%>

<div id="container" class="container-fluid" style="width:100%">
    <div class="row" style="background-color:#E5E8E8;">
        <div class="col-xs-12"> 
            <h1 style="display:inline-block;"><a style="text-decoration:none" href="<%= categories_path %>">Back to main</a></h1>
        
            <h1 style="display:inline-block;float:right;cursor:pointer;"> 
            <a href="http://www.minami.im"  style="text-decoration:none; color:grey">by Calvin Caulfield</a></h1>
        </div>
    </div>

    <div class="row" style="padding:0px 0; border-bottom:solid 0px;">
      <div class="col-xs-12" style="">
        <div style="display:inline-block; width: 200px; margin-bottom: 0px;line-height:10px;">
          <h2  style="display:inline-block; padding-right:10px; margin-bottom: 0px"><%= @category.name %></h2>
        </div>
        <div style="display:inline-block; float:right; margin: 30px 0px 0px 0px;">
          <% Category.all.sort_by { |x| get_category_order(x.name) }.each do |ca | %>
            <a href="<%= category_path(ca) %>">
            <button
            style="color:<%= if ca != @category then 'black' else 'grey' end %>; display:inline-block;margin-right:10px" 
                <%= 'disabled' if ca == @category %> >
            <%= ca.name %></button></a>           
                 
          
          <% end %>         
        </div> 
      </div>       
    </div>
        
    <% num_cols = 4
        vw_size = 85 / num_cols 
        bootstrap_arg = 12 / num_cols %>

    <% sub_category_to_runs.each do |sub_category, run_array| %>
    <div class="row" style="margin-top: 10px;margin-bottom: 20px;">    
        <%= javascript_tag do %> 
            var randomColorSet = getRandomColorSet();
            var colorGenerator = getColorGenerator(randomColorSet);       
        <% end %>

        <div class="col-xs-12" style="border-top:solid 1px;">
            <h4 style="padding-top: 10px;"><%= sub_category %></h4>
        </div>
    </div>
    <div class="row" style="margin-bottom:50px;">
        <% run_array.sort_by { |x| x.order }.each_with_index do |run, i| %>
            <% 	all_tags = { } 
				run.data["algorithms"].each do |tags|
					temp = tags[1..tags.length]
					temp.each do |tag|
						all_tags[tag] = 1
					end
				end
				
				chart_type = getChartType(run.category, run.sub_category, run.title) %>
            <div class="col-xs-<%= bootstrap_arg %>">
                <div style="width:<%= vw_size %>vw;cursor:pointer;" onclick="location.assign('<%= run_path(run) %>')">
                    <canvas id="<%= run.id %>" width="300" height="300"></canvas>
                    <%= javascript_tag do %>  
                        Chart.defaults.global.defaultFontSize = 10;                            
                        //Chart.options. = false;
                        var chartType = "<%= chart_type %>";
						
						var allTags = JSON.parse('<%= all_tags.keys.map { |e| e.gsub(/\s+/, '') } .to_json.html_safe %>');
						var allTagIds = [];
			
						for (var tag of allTags) {
						  allTagIds.push('include-' + tag);
						  allTagIds.push('exclude-' + tag);
						}
						
						var includeTags = [];
						var excludeTags = [];
						//alert(getActiveTagIds(allTagIds));
						for (let tagId of getActiveTagIds(allTagIds)) {
							if (tagId.indexOf('include') == 0) {
								includeTags.push(tagId.substring(8));
							} else {
								excludeTags.push(tagId.substring(8));
							}
						}
												
						var algorithms = JSON.parse('<%= run.data["algorithms"].to_json.html_safe %>');
						var results = JSON.parse('<%= run.data["results"].to_json.html_safe %>');
						
						var selectedIndex = algorithms.map(function(nameAndTags) {          
						  var tags = nameAndTags.slice(1).map(function(tag) { return tag.replace(/\s+/, '') });
						  //alert(tags);
						  var toSelect = includeTags.every(e => tags.includes(e)) && 
										  excludeTags.every(e => !tags.includes(e));
						  return toSelect;
						});    									
						
						selectedAlgorithms = algorithms.filter(function(v, i) { return selectedIndex[i]; });
						selectedResults = results.filter(function(v, i) { return selectedIndex[i]; });
			
                        var myChart = drawChart("<%= run.id %>", 
                            selectedAlgorithms, 
                            selectedResults,  
                            JSON.parse('<%= run.data["test_cases"].to_json.html_safe %>'), 
                            "<%= run.title %>", "<%= run.data["unit"] %>", colorGenerator, 2000, chartType);  
                        myChart.options.legend.labels.fontSize = 10;
                        myChart.options.legend.labels.boxWidth = 20;
                        myChart.options.title.fontSize = 15;
                        //myChart.resize(300, 300);
                            
                    <% end %>
                </div>
            </div>
        <% end %> 
    </div>   
    <% end %> 

</div>
