<%= form_with(model: introduction, local: true) do |form| %>
  <% if introduction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(introduction.errors.count, "error") %> prohibited this introduction from being saved:</h2>

      <ul>
      <% introduction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :about %>
    <%= form.text_area :about, id: :introduction_about %>
  </div>

    <div class="field">
    <%= form.label :how %>
    <%= form.text_area :how, id: :introduction_how %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
